name: Tests
on:
    push:
    pull_request:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_OUTPUT: json
  KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}

jobs:
  connect:
    name: Test connectivity to dev cluster
    runs-on: ubuntu-latest
    # # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    # permissions:
    #   id-token: write
    #   contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials from Test account
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: us-east-1
    - name: install iam authenticator
      uses: prepor/action-aws-iam-authenticator@master
    - run: aws-iam-authenticator version
    - run: aws-iam-authenticator help
    - name: verify deployment
      uses: kodermax/kubectl-aws-eks@master
      env:
        KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_ENCODED }}
    - run: export AWS_PROFILE=dev
    - run: kubectl get pods -n default
    
    
