name: Tests
on:
    push:
    pull_request:

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_DEFAULT_OUTPUT: json
  KUBE_CONFIG: ${{ secrets.KUBE_CONFIG }}

jobs:
  connect:
    name: Test connectivity to dev cluster
    runs-on: ubuntu-latest
    # # These permissions are needed to interact with GitHub's OIDC Token endpoint.
    # permissions:
    #   id-token: write
    #   contents: read
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials from Test account
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: us-east-1
    - run: aws s3 ls
    - run: aws --version
    - run: mkdir -p ~/.kube
    - run: echo "$KUBE_CONFIG" > ~/.kube/config
    - run: cat ~/.kube/config
    - run: curl -o aws-iam-authenticator https://s3.us-west-2.amazonaws.com/amazon-eks/1.21.2/2021-07-05/bin/linux/amd64/aws-iam-authenticator
    - run: chmod +x ./aws-iam-authenticator
    - run: mkdir -p $HOME/bin && cp ./aws-iam-authenticator $HOME/bin/aws-iam-authenticator && export PATH=$PATH:$HOME/bin
    - run: echo 'export PATH=$PATH:$HOME/bin' >> ~/.bashrc
    - run: aws-iam-authenticator help
    - run: kubectl get pods
